h1 {
  color:black;
  text-align: center;
  font-size: 500%;
}

#mode {
  font-size: 300%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #030202;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 40px 60px;
  text-decoration: none;
}
  #winkelmandje {
   position: absolute ;
    top:0;
    right: 0;
  }
  #paard {
 color:black;
 text-align: center; 
}



{
  

}

